---
name: Rust Unit Test
on:
  workflow_call:
    inputs:
      toolchain:
        description: Rust toolchain to use
        default: stable
        required: false
        type: string
      workspace:
        description: Run all tests in the workspace
        default: false
        required: false
        type: boolean
      working-directory:
        description: Working directory
        default: .
        required: false
        type: string

env:
  RUST_BACKTRACE: full
  RUSTUP_MAX_RETRIES: 100
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 100
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Unit Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Cache for Rust
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: ${{ inputs.working-directory }}
          prefix-key: "unit-test-${{ github.job }}"
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ inputs.toolchain }}
      - name: Test
        if: ${{ !inputs.workspace }}
        working-directory: ${{ inputs.working-directory }}
        run: cargo test
      - name: Test (Workspace)
        if: ${{ inputs.workspace }}
        run: cargo test --workspace
