---
name: Rust Clippy
on:
  workflow_call:
    inputs:
      toolchain:
        description: Rust toolchain to use
        default: stables
        required: true
        type: string
      working-directory:
        description: Working directory
        default: .
        required: false
        type: string

env:
  RUST_BACKTRACE: full
  RUSTUP_MAX_RETRIES: 100
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 100
  CARGO_TERM_COLOR: always

jobs:
  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Cache for Rust
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: ${{ inputs.working-directory }}
          prefix-key: "clippy-${{ github.job }}"
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ inputs.toolchain }}
          components: clippy
      - name: Run clippy
        working-directory: ${{ inputs.working-directory }}
        run: cargo clippy
